@charset "UTF-8";
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color:#E8E8E8
	;
	
}

section {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

form label {
    margin: 3px 0px 0px 0px;
text-align:center;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

.main {
	border: 2px solid black; 
	margin: 5px 5px 5px 5px;
	background-color:#939393;
	padding:5px;
	
}

.info {
	border: 1px solid black; 
	padding: 5px;
	background-color:#B3B3B3;
	margin: 5px 5px 5px 5px;
}

h2 {
	text-align:center;
}

form {
	text-align:center;
	margin-top:20px;
}

a {

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 5px;
	padding: 5px;
	
	text-decoration: none;
	color:  #565656;
	background-color: #E8E8E8;
	box-shadow: 0 3px;
	cursor: pointer;
	width: 100%;
  	bottom: 0;
  	clear: both;
}

a:hover {
	box-shadow: 0 0;
	background-color: rgba(123,123,123,.1);
}
