@charset "UTF-8";
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color:#E8E8E8;
}

section {
	width: 40%;
	margin: 0 auto;
	
	display: flex;
	flex-direction: column;
}

a {
	display: flex;
	margin: 5px;
	padding: 5px;
	justify-content: center;
	text-decoration: none;
	color:  #565656;
	background-color:#E8E8E8;
	box-shadow: 0 3px;
	cursor: pointer;
}

a:hover {
	box-shadow: 0 0;
	background-color: rgba(123,123,123,.1);
}

.info {
	width: 70%;
	padding: 0 1em;
}
.info > h2 {
	font-size: larger;
	margin-top: 0.5em;
	margin-bottom: 0.4em;
}
.info > p {
	margin-bottom: 0.5em;
	color: gray;
}
aside.nbMessage {
	font-weight: bold;
	align-self: center;
}

h1 {
	text-align:center;
}