<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>forum_discussion</display-name>
  
   <servlet>
  	<servlet-name>afficherCategories</servlet-name>
  	<servlet-class>servlets.ControllerCategorie</servlet-class>
  </servlet>
  
  <!-- URL mapping -->
  <servlet-mapping>
  	<servlet-name>afficherCategories</servlet-name>
  	<url-pattern>/index</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>afficherTopics</servlet-name>
  	<url-pattern>/forum</url-pattern>
  	<!-- ?id=X -->
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>afficherPosts</servlet-name>
  	<url-pattern>/topic</url-pattern>
  	<!-- ?idCat=X&idTopic=X -->
  </servlet-mapping>
</web-app>